BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "dsi_to_cmos_pd_blue_o[0]" SITE "D10" ;
LOCATE COMP "dsi_to_cmos_pd_blue_o[2]" SITE "D9" ;
LOCATE COMP "dsi_to_cmos_pd_blue_o[4]" SITE "E10" ;
LOCATE COMP "dsi_to_cmos_pd_blue_o[6]" SITE "E9" ;
LOCATE COMP "dsi_to_cmos_pd_green_o[0]" SITE "F10" ;
LOCATE COMP "dsi_to_cmos_pd_green_o[2]" SITE "F9" ;
LOCATE COMP "dsi_to_cmos_pd_green_o[4]" SITE "G10" ;
LOCATE COMP "dsi_to_cmos_pd_green_o[6]" SITE "G9" ;
LOCATE COMP "dsi_to_cmos_pd_blue_o[3]" SITE "F2" ;
LOCATE COMP "dsi_to_cmos_pd_blue_o[1]" SITE "F1" ;
LOCATE COMP "dsi_to_cmos_pd_blue_o[5]" SITE "J3" ;
LOCATE COMP "dsi_to_cmos_pd_blue_o[7]" SITE "K3" ;
LOCATE COMP "dsi_to_cmos_pd_green_o[1]" SITE "J4" ;
LOCATE COMP "dsi_to_cmos_pd_green_o[3]" SITE "K4" ;
LOCATE COMP "dsi_to_cmos_pd_green_o[5]" SITE "J5" ;
LOCATE COMP "dsi_to_cmos_pd_green_o[7]" SITE "K5" ;
LOCATE COMP "dsi_to_cmos_pd_red_o[0]" SITE "H9" ;
LOCATE COMP "dsi_to_cmos_pd_red_o[2]" SITE "J10" ;
LOCATE COMP "dsi_to_cmos_pd_red_o[4]" SITE "J9" ;
LOCATE COMP "dsi_to_cmos_pd_red_o[6]" SITE "K10" ;
LOCATE COMP "dsi_to_cmos_pd_red_o[1]" SITE "K6" ;
LOCATE COMP "dsi_to_cmos_pd_red_o[3]" SITE "J7" ;
LOCATE COMP "dsi_to_cmos_pd_red_o[5]" SITE "K7" ;
LOCATE COMP "dsi_to_cmos_pd_red_o[7]" SITE "J8" ;
LOCATE COMP "dsi_to_cmos_vsync_o" SITE "K8" ;
LOCATE COMP "dsi_to_cmos_hsync_o" SITE "K9" ;
LOCATE COMP "dsi_to_cmos_de_o" SITE "H10" ;
IOBUF PORT "dsi_to_cmos_reset_n_i" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "dsi_to_cmos_clk_pixel_o" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_de_o" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_hsync_o" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_blue_o[0]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_blue_o[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_blue_o[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_blue_o[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_blue_o[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_blue_o[5]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_blue_o[6]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_blue_o[7]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_green_o[0]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_green_o[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_green_o[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_green_o[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_green_o[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_green_o[5]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_green_o[6]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_green_o[7]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_red_o[0]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_red_o[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_red_o[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_red_o[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_red_o[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_red_o[5]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_red_o[6]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_pd_red_o[7]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "dsi_to_cmos_vsync_o" IO_TYPE=LVCMOS18 ;
LOCATE COMP "dsi_to_cmos_clk_pixel_o" SITE "J6" ;
