BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "LED" SITE "F1" ;
IOBUF PORT "LED" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "Reset" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "Reset" SITE "E2" ;
IOBUF PORT "CLKI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "CLKOS3" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "CLKI" SITE "E1" ;
LOCATE COMP "CLKOS3" SITE "D10" ;
LOCATE COMP "CLKOS" SITE "J6" ;
IOBUF PORT "CLKOS" IO_TYPE=LVCMOS18 ;
