BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "pin[0]" IO_TYPE=LVCMOS18 ;
LOCATE COMP "reset" SITE "E2" ;
LOCATE COMP "pin[0]" SITE "D10" ;
LOCATE COMP "pin[1]" SITE "F1" ;
LOCATE COMP "pin[2]" SITE "D9" ;
LOCATE COMP "pin[3]" SITE "F2" ;
IOBUF PORT "reset" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pin[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pin[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "pin[3]" IO_TYPE=LVCMOS18 ;
