BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "CLKI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "B[0]" SITE "D10" ;
LOCATE COMP "B[2]" SITE "D9" ;
LOCATE COMP "B[4]" SITE "E10" ;
LOCATE COMP "B[6]" SITE "E9" ;
LOCATE COMP "G[0]" SITE "F10" ;
LOCATE COMP "G[2]" SITE "F9" ;
LOCATE COMP "G[4]" SITE "G10" ;
LOCATE COMP "G[6]" SITE "G9" ;
LOCATE COMP "B[3]" SITE "F2" ;
LOCATE COMP "B[1]" SITE "F1" ;
LOCATE COMP "B[5]" SITE "J3" ;
LOCATE COMP "B[7]" SITE "K3" ;
LOCATE COMP "G[1]" SITE "J4" ;
LOCATE COMP "G[3]" SITE "K4" ;
LOCATE COMP "G[5]" SITE "J5" ;
LOCATE COMP "G[7]" SITE "K5" ;
LOCATE COMP "R[0]" SITE "H9" ;
LOCATE COMP "R[2]" SITE "J10" ;
LOCATE COMP "R[4]" SITE "J9" ;
LOCATE COMP "R[6]" SITE "K10" ;
LOCATE COMP "R[1]" SITE "K6" ;
LOCATE COMP "R[3]" SITE "J7" ;
LOCATE COMP "R[5]" SITE "K7" ;
LOCATE COMP "R[7]" SITE "J8" ;
LOCATE COMP "VS" SITE "K8" ;
LOCATE COMP "HS" SITE "K9" ;
LOCATE COMP "DE" SITE "H10" ;
IOBUF PORT "B[0]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "B[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "B[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "B[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "B[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "B[5]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "B[6]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "B[7]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "DE" IO_TYPE=LVCMOS18 ;
IOBUF PORT "G[0]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "G[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "G[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "G[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "G[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "G[5]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "G[6]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "G[7]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "HS" IO_TYPE=LVCMOS18 ;
IOBUF PORT "R[0]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "R[1]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "R[2]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "R[3]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "R[4]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "R[5]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "R[6]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "R[7]" IO_TYPE=LVCMOS18 ;
IOBUF PORT "VS" IO_TYPE=LVCMOS18 ;
LOCATE COMP "CLKI" SITE "E1" ;
IOBUF PORT "Reset" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "VCLK" SITE "J6" ;
IOBUF PORT "VCLK" IO_TYPE=LVCMOS18 ;
LOCATE COMP "Reset" SITE "E2" ;
